.about-page {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
  }
  
  .about-page h1,
  .about-page h2 {
    color: var(--primary-color);
  }
  
  .intro {
    display: flex;
    gap: 10%;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .intro-image {
    flex: 1;
    max-width: 300px;
  }
  
  .intro-image img {
    border: 1px solid var(--primary-color);
    width: 110%;
    border-radius: 5px;
    box-shadow: -5px 0px 5px rgba(143, 143, 143, 0.76);
  }
  
  .intro-text {
    flex: 2;
    max-width: 600px;
  }
  
  .intro-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .intro-text p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
  }
  
  .cv {
    margin-bottom: 40px;
  }
  
  .cv h2 {
    margin-bottom: 10px;
  }
  
  .cv-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease-in-out .1s;
  }
  
  .cv-link:hover {
    background-color: var(--hover-color);
  }
  .cv-link:hover::before {
    content: '👉 ';
  }
  
  .social {
    margin-top: 20px;
  }
  
  .social h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    display: inline-block;
    font-size: 40px;
    color: var(--primary-color);
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
  
  .parcours {
    margin: 100px 0 ;
  }

  .parcours h2 {
    font-size: 2.2em;
  }
  
  .timeline {
    list-style: none;
    padding: 0;
    
  }
  
  .timeline li {
    margin: 2% 0;
    padding: 40px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: -2px 0px 5px rgba(143, 143, 143, 0.76);
    background-color: var(--secondary-color);
  }
  
  .timeline h3 {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--accent-color);
  }
  
  .profile {
    margin-bottom: 40px;
  }
  
  .profile p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
  }
  
  .link {
    text-align: center;
  }
  
  .cta-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cta-link:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }