:root {
    --primary-color: #1E1E1E;
    --secondary-color: #F5F5F5;
    --accent-color: #3caaff;
    --hover-color: #0063af;
    --text-color: #333;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}
